@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'open_sansbold';
    src: url('OpenSans-Bold-webfont.eot');
    src: url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Bold-webfont.woff2') format('woff2'),
         url('OpenSans-Bold-webfont.woff') format('woff'),
         url('OpenSans-Bold-webfont.ttf') format('truetype'),
         url('OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('OpenSans-Semibold-webfont.eot');
    src: url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Semibold-webfont.woff2') format('woff2'),
         url('OpenSans-Semibold-webfont.woff') format('woff'),
         url('OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff2') format('woff2'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';
content: none;}
table {border-collapse: collapse;
border-spacing: 0;}

body{ background-color:#fff;
cursor:url("curseur.cur")auto;
overflow-x: hidden;
display:block;}
a{outline-style: none;
font-family:'open_sanssemibold';
color:#ec3323;
text-decoration: none;}
input{outline-style: none;}
p,ul,li{font-family:'open_sansregular';
line-height:1.8;
color: #404040;
font-size: 16px; }
li{margin-left: 20px;}
span{font-family:'open_sanssemibold'; }

/* header */

header {display:flex;
justify-content:space-between;
z-index:2;
top:0;
position: sticky;
height:200px;
width:100%;
background-color: white;
box-shadow: 2px 2px 12px rgba(0,0,0,0.2);}

.logo-header-centre{display:block;
width:100px;
margin:auto;
padding-top: 10px;}

.logo-header-gauche{display:block;
width:100px;
padding-top: 10px;
margin-left: 80px;}

.repere-utilisateur{display:inline-block;
align-items: flex-end;
width:50%;
top:0px;
margin-right:80px;
padding-top: 70px;}

.texte-utilisateur{display:block;
float:right;
padding-right: 50px;
padding-top: 18px;}

.icone-utilisateur{display:block;
width:80px;
float:right;}
/* body */

.connexion{display:block;
padding-top: 50px;
background:linear-gradient(-200deg,#870E1F,#ec3323 60%,#870E1F);
width:100%;
min-height:75vh;}

.inscription{display:block;
padding-top: 50px;
background:linear-gradient(-200deg,#870E1F,#ec3323 60%,#870E1F);
width:100%;
min-height:75vh;}

h1{text-align: center;
font-family:'open_sansbold'; 
font-size:35px;
margin-bottom:30px;}

.h1-blanc{color: white;}
.h1-rouge{color: #ec3323;}

h2{text-align: center;
font-family:'open_sansbold'; 
font-size:30px;
margin-bottom:30px;
color:#ec3323;}

h3{font-family:'open_sansbold'; 
font-size:25px;
margin-bottom:30px;
color:#404040;;}

.champs-connexion{display:block;
width:30%;
margin:auto;
align-items: center;
padding: 40px;
text-align: center;
background-color: white;
border-radius:20px;}

.champs-inscription{display:block;
width:30%;
margin:auto;
align-items: center;
padding: 20px;
text-align: center;
background-color: white;
border-radius:20px;}

label{font-family:'open_sansregular';
font-size: 18px;}

input{border-left:none;
border-top: none;
border-right: none;
border-bottom: 2px #ec3323 solid ;
outline: 0;
height:25px;
width:80%;}

input[type="submit"]
{border-radius:5px;
border: 2px #ec3323 solid;
background-color:#ec3323;
color:white;
padding:5px 10px 5px 10px;
font-family:'open_sansbold';
font-size:15px;
width:80%;
margin-top:25px;
margin-bottom: 50px;
height:50px;}

input[type="submit"]:hover{
background-color:white;
color:#ec3323;}


select{border-radius:5px;
border: 2px #ec3323 solid;
background-color:white;
height:25px; 
width:80%;
}

select:hover{background-color:#ec3323;
border:none;
color:white;
outline:none;}

button{border-radius:5px;
border: 2px #ec3323 solid;
background-color:#ec3323;
color:white;
padding:5px 10px 5px 10px;
font-family:'open_sansbold';
font-size:15px;
width:80%;
margin-top:25px;
margin-bottom: 50px;}

button:hover{
background-color:white;
color:#ec3323;}

.presentation, .acteurs{display:block;
padding-top: 50px;
margin:auto;
width:100%;}

.presentation{background:linear-gradient(-200deg,#870E1F,#ec3323 60%,#870E1F); 
padding-bottom:100px;}

.acteurs{margin-bottom:100px;}

.texte-presentation{display:block;
width:30%;
margin:auto;
padding: 20px 40px 20px 40px;
text-align: left;
background-color:white;
border-radius:20px;}

.bloc-acteur{display:block;
align-items:center;
margin:auto;
margin-top:50px;
padding:20px;
width:60%;
height:230px;
border: 2px #ec3323 solid;
border-radius:5px;}

.logo-acteur{display:block;
float:left;
width:30%;}

.logo-acteur-presentation{display:block;
margin:auto;
width:30%;
padding-bottom: 20px;}

.description-acteur {display:block;
float:right;
width:65%;}

.bloc-bas-acteur{display:inline-flex;
width:100%;
height:auto;
align-items:center;
}

.ensavoirplus{width:30%;
display:block;
margin-right:10%;
font-size: 15px;
text-align: center;
border-radius:5px;
border: 2px #ec3323 solid;
background-color:#ec3323;
color:white;
padding:5px 10px 5px 10px;
font-family:'open_sansbold';
font-size:15px;}

.ensavoirplus:hover{background-color:white;
color:#ec3323;}

.bouton-avis{display:block;
background-color:transparent;
border:none;
width:60px;
margin-right:5px;
margin-top:55px;
float:right;
}

.bouton-avis:hover{opacity:0.5;}



/* footer */
footer{display:block;
background-color:white;
height:50px;
width:100%;
padding-top: 25px;
}
.liens-footer{display:block;
width:100%;
text-align:center;
margin:auto;
}

/* TABLETTE */
@media(max-width:900px)
{   /* header */
    header{height:120px;}
    .logo-header-centre{width: 80px;
    padding-top: 5px;}
    /* body */
    h1{font-size:30px;}
    p{font-size: 16px;}
    a{font-size: 13px;}
    label{font-size:16px;}
    button{font-size: 13px;}
    .champs-connexion{width:50%;}
    .champs-inscription{width:50%;}
}
    


/* PORTABLE */
@media(max-width:425px)
{   /* header */
    header{height:100px;}
    .logo-header-centre{width:70px;
        padding-top: 0px;}
    /* body */
    h1{font-size:25px;}
    p{font-size: 14px;}
    a{font-size: 12px;}
    label{font-size:14px;}
    button{font-size: 12px;}
    .champs-connexion{width:70%;}
    .connexion {min-height: 85vh;
    padding-top: 30px;}
    .champs-inscription{width:70%;
    padding:10px; }
    .inscription {min-height: 130vh;
    padding-top: 30px;}
}


